In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from collections import Counter
import lightgbm as lgb

/Applications/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
train = pd.read_csv("tcd-ml-1920-group-income-train.csv")
test = pd.read_csv("tcd-ml-1920-group-income-test.csv")
train = train.sample(frac = 1)
train.shape

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1048574, 17)

In [3]:
train_missing = (train.isnull().sum()/len(train))*100
train_missing = train_missing.drop(train_missing[train_missing==0].index).sort_values(ascending=False)
miss_data = pd.DataFrame({'缺失百分比':train_missing})
miss_data

                              缺失百分比
University Degree          7.686630
Gender                     7.069315
Hair Color                 6.695856
Satisfation with employer  3.632266
Year of Record             0.382710
Profession                 0.272084

In [4]:
train.head()

,Instance,Year of Record,Housing Situation,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Yearly Income in addition to Salary (e.g. Rental Income),Total Yearly Income [EUR]
877481,820617,2006.0,Large Apartment,60,12,Average,male,25,Lebanon,770272,public relations specialist,Bachelor,1,Red,139,0 EUR,87910.18
429170,429171,1974.0,Castle,144,34,Happy,other,93,Slovakia,686288,office clerk,No,1,Blond,175,0 EUR,15511.54
130518,130519,1950.0,0,81,17,Happy,male,42,Nicaragua,49609,management analyst,Master,0,Black,163,0 EUR,1019.35
518277,486004,1979.0,Large House,111,14,Average,female,28,Guinea-Bissau,859039,security specialist,Bachelor,0,Brown,147,0 EUR,56975.39
30111,30112,1942.0,0,93,20,Average,other,45,Kyrgyzstan,41946,statistical assistant,Master,1,Black,165,0 EUR,415.01

In [5]:
data = pd.concat([train,test],ignore_index=True)

data['University Degree']=data['University Degree'].fillna('Bachelor')

data['Gender']=data['Gender'].replace('m','male')
data['Gender']=data['Gender'].replace('f','female')
data['Gender']=data['Gender'].replace('unknown','other')
data['Gender']=data['Gender'].fillna('female')

data['Housing Situation']=data['Housing Situation'].replace('nA','0')

data['Hair Color']=data['Hair Color'].fillna(method='bfill')

data['Satisfation with employer']=data['Satisfation with employer'].fillna('Average')

data.fillna(value={'Year of Record':data['Year of Record'].mean()}, inplace=True)

data['Profession']=data['Profession'].fillna(method='bfill')

data['Country']=data['Country'].fillna(method='bfill')

data.shape

(1418012, 17)

In [6]:
#构造等级特征
data['Satisfation with employer'] = data['Satisfation with employer'].map \
     ({'Average':2, 'Happy':4, 'Somewhat Happy':3, 'Unhappy':1})

In [7]:
data.isnull().any()

Instance                                                    False
Year of Record                                              False
Housing Situation                                           False
Crime Level in the City of Employement                      False
Work Experience in Current Job [years]                      False
Satisfation with employer                                   False
Gender                                                      False
Age                                                         False
Country                                                     False
Size of City                                                False
Profession                                                  False
University Degree                                           False
Wears Glasses                                               False
Hair Color                                                  False
Body Height [cm]                                            False
Yearly Income in addition to Salary (e.g. Rental Income)    False
Total Yearly Income [EUR]                                    True
dtype: bool

In [8]:
#对于每个country和profession特征，用其特征值下收入均值来替换
country_income = dict(train.groupby('Country').mean()['Total Yearly Income [EUR]']/10000)
data.Country = data.Country.map(country_income)
data.Country = data.Country.fillna(data.Country.mean())
country_income = dict(train.groupby('Profession').mean()['Total Yearly Income [EUR]']/10000)
data.Profession = data.Profession.map(country_income)
country_income = dict(train.groupby('Profession').mean()['Total Yearly Income [EUR]']/10000)
data.Profession = data.Profession.map(country_income)

#前面的254287数据用来构造均值特征
sp = 254287

In [9]:
#转换成数值
data.iloc[:,-2] = data.iloc[:,-2].map(lambda x: float(x[:-3]))

In [10]:
data.head()

,Instance,Year of Record,Housing Situation,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Yearly Income in addition to Salary (e.g. Rental Income),Total Yearly Income [EUR]
0,820617,2006.0,Large Apartment,60,12,2,male,25,5.613706,770272,NaN,Bachelor,1,Red,139,0.0,87910.18
1,429171,1974.0,Castle,144,34,4,other,93,5.544517,686288,NaN,No,1,Blond,175,0.0,15511.54
2,130519,1950.0,0,81,17,4,male,42,5.641801,49609,NaN,Master,0,Black,163,0.0,1019.35
3,486004,1979.0,Large House,111,14,2,female,28,16.573602,859039,NaN,Bachelor,0,Brown,147,0.0,56975.39
4,30112,1942.0,0,93,20,2,other,45,5.659443,41946,NaN,Master,1,Black,165,0.0,415.01

In [11]:
cats = ['Year of Record', 'Housing Situation','Country','Size of City',
        'Crime Level in the City of Employement','Work Experience in Current Job [years]']
cons = ['Satisfation with employer','Gender','Age',
       'University Degree','Body Height [cm]','Profession']
data['Work Experience in Current Job [years]'] = data['Work Experience in Current Job [years]'].astype(str)

In [12]:
#This is the inspiration I got from the best code. 
#I added and constructed mean features, cross mean features and Category Characteristics

def create_feature(df,cats,cons,normalize=True):
    for cat in cats:
        value = df[cat].value_counts(dropna=False, normalize=normalize).to_dict()
        num = cat + '_FE_FULL'
        df[num + num] = df[cat].map(value)
        #构造均值特征mean features
        df[num] = df[cat].map( dict(df.iloc[:sp].groupby(cat).mean()['Total Yearly Income [EUR]']/10000))
        df[num] = df[num].fillna(df[num].mean())
        df[num] = df[num].astype('float32')
        for con in cons:
            new_col = cat +'_'+ con
            df[new_col] = df[cat].astype(str)+'_'+df[con].astype(str)
            temp_df = df[new_col]
            fq_encode = temp_df.value_counts(normalize=True).to_dict()
            #构造交叉均值特征cross mean features
            df[new_col] = df[new_col].map( dict(df.iloc[:sp+1].groupby( \
                               new_col).mean()['Total Yearly Income [EUR]']/10000))
            df[new_col] = df[new_col].fillna(df[new_col].mean())
    return df

data = create_feature(data,cats,cons)
data['Work Experience in Current Job [years]'] = data['Work Experience in Current Job [years]' \
                                                     ].replace('#NUM!', data.iloc[:, -1].mean()).astype(float)

#构造类别特征 Category Characteristics
for col in data.dtypes[data.dtypes == 'object'].index.tolist():
    feat_le = LabelEncoder()
    feat_le.fit(data[col].unique().astype(str))
    data[col] = feat_le.transform(data[col].astype(str))

del_col = set(['Total Yearly Income [EUR]','Instance'])
features_col =  list(set(data) - del_col)
features_col

['Crime Level in the City of Employement_Gender',
 'Size of City_University Degree',
 'Size of City_Profession',
 'Hair Color',
 'Work Experience in Current Job [years]_Satisfation with employer',
 'Year of Record_University Degree',
 'Size of City_FE_FULLSize of City_FE_FULL',
 'Size of City_Age',
 'Housing Situation_Profession',
 'Country_Age',
 'Year of Record_Age',
 'Crime Level in the City of Employement_Profession',
 'Housing Situation_Satisfation with employer',
 'Country_FE_FULLCountry_FE_FULL',
 'Satisfation with employer',
 'Size of City',
 'Country_Satisfation with employer',
 'Housing Situation_FE_FULLHousing Situation_FE_FULL',
 'Work Experience in Current Job [years]_Age',
 'Wears Glasses',
 'Size of City_Gender',
 'Crime Level in the City of Employement_Age',
 'Housing Situation_Gender',
 'Work Experience in Current Job [years]_Gender',
 'Crime Level in the City of Employement',
 'Crime Level in the City of Employement_Body Height [cm]',
 'Housing Situation_Body Height [cm]',
 'Work Experience in Current Job [years]_Profession',
 'Country_FE_FULL',
 'Gender',
 'Housing Situation_Age',
 'Housing Situation_University Degree',
 'Housing Situation',
 'Year of Record_FE_FULL',
 'Year of Record_Satisfation with employer',
 'Body Height [cm]',
 'Yearly Income in addition to Salary (e.g. Rental Income)',
 'Work Experience in Current Job [years]_Body Height [cm]',
 'Year of Record_Body Height [cm]',
 'Crime Level in the City of Employement_FE_FULLCrime Level in the City of Employement_FE_FULL',
 'Crime Level in the City of Employement_University Degree',
 'Country',
 'Work Experience in Current Job [years]',
 'University Degree',
 'Age',
 'Size of City_Body Height [cm]',
 'Country_University Degree',
 'Size of City_FE_FULL',
 'Housing Situation_FE_FULL',
 'Year of Record',
 'Country_Gender',
 'Work Experience in Current Job [years]_University Degree',
 'Year of Record_Gender',
 'Work Experience in Current Job [years]_FE_FULL',
 'Year of Record_FE_FULLYear of Record_FE_FULL',
 'Year of Record_Profession',
 'Country_Profession',
 'Crime Level in the City of Employement_Satisfation with employer',
 'Work Experience in Current Job [years]_FE_FULLWork Experience in Current Job [years]_FE_FULL',
 'Crime Level in the City of Employement_FE_FULL',
 'Size of City_Satisfation with employer',
 'Profession',
 'Country_Body Height [cm]']

In [13]:
data.head()

,Instance,Year of Record,Housing Situation,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Gender,Age,Country,Size of City,...,Crime Level in the City of Employement_Body Height [cm],Crime Level in the City of Employement_Profession,Work Experience in Current Job [years]_FE_FULLWork Experience in Current Job [years]_FE_FULL,Work Experience in Current Job [years]_FE_FULL,Work Experience in Current Job [years]_Satisfation with employer,Work Experience in Current Job [years]_Gender,Work Experience in Current Job [years]_Age,Work Experience in Current Job [years]_University Degree,Work Experience in Current Job [years]_Body Height [cm],Work Experience in Current Job [years]_Profession
0,820617,2006.0,2,60,12.0,2,2,25,5.613706,770272,...,7.517658,7.098897,0.023664,8.260832,7.677081,8.217012,8.135961,7.897454,11.302215,8.260831
1,429171,1974.0,1,144,34.0,4,3,93,5.544517,686288,...,3.138196,6.119682,0.000415,13.872695,17.136728,12.514886,8.967640,13.309363,15.275991,13.872695
2,130519,1950.0,0,81,17.0,4,2,42,5.641801,49609,...,7.781809,6.993411,0.040724,5.576781,5.406021,5.755681,4.799894,6.136034,6.190228,5.577078
3,486004,1979.0,3,111,14.0,2,1,28,16.573602,859039,...,10.101427,6.507448,0.022589,8.799112,8.120760,8.522900,8.546618,8.273142,7.353583,8.799113
4,30112,1942.0,0,93,20.0,2,3,45,5.659443,41946,...,5.127805,6.931308,0.031696,6.100109,5.675211,6.114139,5.940158,6.932020,7.031269,6.100109

In [14]:
from sklearn.ensemble import RandomForestRegressor

param = {'num_trees':20000, 
         'max_depth': 21, 
         'objective':'regression', 
         "verbosity": -1,
         'metric': 'mae',
         'bagging_fraction': 0.8, 
         'learning_rate': 0.01,}
X_train,X_test  = data[features_col].iloc[:1048573],data[features_col].iloc[1048574:]
Y_train = data['Total Yearly Income [EUR]'].iloc[:1048573]
x_train,x_val,y_train,y_val = X_train.iloc[sp+1: ,:],  X_train.iloc[:sp,:],  \
                    Y_train.iloc[sp+1: ],  Y_train.iloc[:sp ]
train_data = lgb.Dataset(x_train, label=y_train, feature_name='auto')#categorical_feature=cat
val_data = lgb.Dataset(x_val, label=y_val, feature_name='auto')

bst = lgb.train(param, train_data, 20000, verbose_eval = 100, valid_sets=[val_data])

/Applications/anaconda3/lib/python3.7/site-packages/lightgbm/engine.py:148: UserWarning: Found `num_trees` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

[100]	valid_0's l1: 31816.5
[200]	valid_0's l1: 18554.4
[300]	valid_0's l1: 13930.3
[400]	valid_0's l1: 12022.2
[500]	valid_0's l1: 11166.8
[600]	valid_0's l1: 10751.6
[700]	valid_0's l1: 10472.5
[800]	valid_0's l1: 10279.8
[900]	valid_0's l1: 10121.6
[1000]	valid_0's l1: 9988.73
[1100]	valid_0's l1: 9880.02
[1200]	valid_0's l1: 9784.73
[1300]	valid_0's l1: 9692.19
[1400]	valid_0's l1: 9599.73
[1500]	valid_0's l1: 9522.1
[1600]	valid_0's l1: 9454.18
[1700]	valid_0's l1: 9400.2
[1800]	valid_0's l1: 9355.37
[1900]	valid_0's l1: 9312.18
[2000]	valid_0's l1: 9273.14
[2100]	valid_0's l1: 9242.3
[2200]	valid_0's l1: 9211.32
[2300]	valid_0's l1: 9178.55
[2400]	valid_0's l1: 9150.71
[2500]	valid_0's l1: 9125.63
[2600]	valid_0's l1: 9100.49
[2700]	valid_0's l1: 9073.34
[2800]	valid_0's l1: 9055.25
[2900]	valid_0's l1: 9033.86
[3000]	valid_0's l1: 9018.09
[3100]	valid_0's l1: 9003.82
[3200]	valid_0's l1: 8985.03
[3300]	valid_0's l1: 8970.87
[3400]	valid_0's l1: 8948.77
[3500]	valid_0's l1: 8937.75
[3600]	valid_0's l1: 8927.24
[3700]	valid_0's l1: 8915.97
[3800]	valid_0's l1: 8898.42
[3900]	valid_0's l1: 8884.63
[4000]	valid_0's l1: 8871.76
[4100]	valid_0's l1: 8861.83
[4200]	valid_0's l1: 8846.99
[4300]	valid_0's l1: 8834.37
[4400]	valid_0's l1: 8823.12
[4500]	valid_0's l1: 8814.67
[4600]	valid_0's l1: 8806.68
[4700]	valid_0's l1: 8799.23
[4800]	valid_0's l1: 8789.54
[4900]	valid_0's l1: 8778.91
[5000]	valid_0's l1: 8771.77
[5100]	valid_0's l1: 8763.51
[5200]	valid_0's l1: 8753.76
[5300]	valid_0's l1: 8744.26
[5400]	valid_0's l1: 8734.67
[5500]	valid_0's l1: 8728.46
[5600]	valid_0's l1: 8719.39
[5700]	valid_0's l1: 8698.03
[5800]	valid_0's l1: 8692.64
[5900]	valid_0's l1: 8687.08
[6000]	valid_0's l1: 8678.76
[6100]	valid_0's l1: 8671.46
[6200]	valid_0's l1: 8663.53
[6300]	valid_0's l1: 8654.55
[6400]	valid_0's l1: 8650.15
[6500]	valid_0's l1: 8643.64
[6600]	valid_0's l1: 8636.95
[6700]	valid_0's l1: 8630.49
[6800]	valid_0's l1: 8622.55
[6900]	valid_0's l1: 8619.99
[7000]	valid_0's l1: 8608.44
[7100]	valid_0's l1: 8601.86
[7200]	valid_0's l1: 8597.5
[7300]	valid_0's l1: 8594.97
[7400]	valid_0's l1: 8589.02
[7500]	valid_0's l1: 8585.21
[7600]	valid_0's l1: 8580.53
[7700]	valid_0's l1: 8573.62
[7800]	valid_0's l1: 8565.6
[7900]	valid_0's l1: 8556.17
[8000]	valid_0's l1: 8550.63
[8100]	valid_0's l1: 8543.94
[8200]	valid_0's l1: 8537.5
[8300]	valid_0's l1: 8532.65
[8400]	valid_0's l1: 8523.86
[8500]	valid_0's l1: 8518.67
[8600]	valid_0's l1: 8514.32
[8700]	valid_0's l1: 8508
[8800]	valid_0's l1: 8505.03
[8900]	valid_0's l1: 8500.84
[9000]	valid_0's l1: 8493.81
[9100]	valid_0's l1: 8488.81
[9200]	valid_0's l1: 8482.78
[9300]	valid_0's l1: 8477.74
[9400]	valid_0's l1: 8473.55
[9500]	valid_0's l1: 8471.23
[9600]	valid_0's l1: 8466.88
[9700]	valid_0's l1: 8463.03
[9800]	valid_0's l1: 8460.12
[9900]	valid_0's l1: 8455.43
[10000]	valid_0's l1: 8453.56
[10100]	valid_0's l1: 8450.92
[10200]	valid_0's l1: 8448.02
[10300]	valid_0's l1: 8445.03
[10400]	valid_0's l1: 8442.21
[10500]	valid_0's l1: 8438.58
[10600]	valid_0's l1: 8434.26
[10700]	valid_0's l1: 8430.97
[10800]	valid_0's l1: 8428.38
[10900]	valid_0's l1: 8425.07
[11000]	valid_0's l1: 8421.99
[11100]	valid_0's l1: 8416.92
[11200]	valid_0's l1: 8414.17
[11300]	valid_0's l1: 8411.63
[11400]	valid_0's l1: 8409.42
[11500]	valid_0's l1: 8408.01
[11600]	valid_0's l1: 8407.56
[11700]	valid_0's l1: 8403.86
[11800]	valid_0's l1: 8400.54
[11900]	valid_0's l1: 8398.32
[12000]	valid_0's l1: 8396.59
[12100]	valid_0's l1: 8395.08
[12200]	valid_0's l1: 8393.1
[12300]	valid_0's l1: 8390.18
[12400]	valid_0's l1: 8387.73
[12500]	valid_0's l1: 8384.09
[12600]	valid_0's l1: 8382.42
[12700]	valid_0's l1: 8378.57
[12800]	valid_0's l1: 8375.99
[12900]	valid_0's l1: 8374.16
[13000]	valid_0's l1: 8372.76
[13100]	valid_0's l1: 8370
[13200]	valid_0's l1: 8369.05
[13300]	valid_0's l1: 8368.61
[13400]	valid_0's l1: 8366.91
[13500]	valid_0's l1: 8365.19
[13600]	valid_0's l1: 8363.15
[13700]	valid_0's l1: 8360.01
[13800]	valid_0's l1: 8357.4
[13900]	valid_0's l1: 8356.4
[14000]	valid_0's l1: 8354.96
[14100]	valid_0's l1: 8353.94
[14200]	valid_0's l1: 8352.56
[14300]	valid_0's l1: 8350.93
[14400]	valid_0's l1: 8351.04
[14500]	valid_0's l1: 8350.57
[14600]	valid_0's l1: 8348.13
[14700]	valid_0's l1: 8344.22
[14800]	valid_0's l1: 8344.2
[14900]	valid_0's l1: 8345.31
[15000]	valid_0's l1: 8346.2
[15100]	valid_0's l1: 8345.01
[15200]	valid_0's l1: 8343.99
[15300]	valid_0's l1: 8342.12
[15400]	valid_0's l1: 8338.84
[15500]	valid_0's l1: 8337.38
[15600]	valid_0's l1: 8336.69
[15700]	valid_0's l1: 8335.07
[15800]	valid_0's l1: 8332.7
[15900]	valid_0's l1: 8330.77
[16000]	valid_0's l1: 8331.23
[16100]	valid_0's l1: 8330.87
[16200]	valid_0's l1: 8329.17
[16300]	valid_0's l1: 8329.31
[16400]	valid_0's l1: 8328
[16500]	valid_0's l1: 8325.73
[16600]	valid_0's l1: 8323.81
[16700]	valid_0's l1: 8322.17
[16800]	valid_0's l1: 8321.36
[16900]	valid_0's l1: 8319.36
[17000]	valid_0's l1: 8317.98
[17100]	valid_0's l1: 8315.24
[17200]	valid_0's l1: 8314.13
[17300]	valid_0's l1: 8313.19
[17400]	valid_0's l1: 8311.33
[17500]	valid_0's l1: 8309.39
[17600]	valid_0's l1: 8307.95
[17700]	valid_0's l1: 8306.58
[17800]	valid_0's l1: 8304.82
[17900]	valid_0's l1: 8303.98
[18000]	valid_0's l1: 8302.94
[18100]	valid_0's l1: 8301.83
[18200]	valid_0's l1: 8299.17
[18300]	valid_0's l1: 8298.96
[18400]	valid_0's l1: 8298.71
[18500]	valid_0's l1: 8298.75
[18600]	valid_0's l1: 8297.65
[18700]	valid_0's l1: 8298.55
[18800]	valid_0's l1: 8296.43
[18900]	valid_0's l1: 8296.21
[19000]	valid_0's l1: 8295.21
[19100]	valid_0's l1: 8293.91
[19200]	valid_0's l1: 8293.1
[19300]	valid_0's l1: 8293.02
[19400]	valid_0's l1: 8294.37
[19500]	valid_0's l1: 8293.85
[19600]	valid_0's l1: 8292.71
[19700]	valid_0's l1: 8291.51
[19800]	valid_0's l1: 8291
[19900]	valid_0's l1: 8290.01
[20000]	valid_0's l1: 8289.15

In [15]:
from sklearn.metrics import mean_absolute_error
predict = bst.predict(x_val)
val_mae = mean_absolute_error(y_val,predict)
val_mae

8289.147295391711

In [16]:
#生成结果
#rfr.fit(X_train, Y_train)
predict = bst.predict(X_test)
result=pd.DataFrame([range(1,1+len(predict)), predict]).T
result.columns = ['Instance', 'Total Yearly Income [EUR]']
result.to_csv("sub191125_10.csv",index=False)
result.head()

   Instance  Total Yearly Income [EUR]
0       1.0               40184.478156
1       2.0                8360.894660
2       3.0                2813.397953
3       4.0               81933.348388
4       5.0                3604.240365